<section id="about">
	<div class="container">
		<div class="avatar">
			<img class="img-circle profile-img" src="{{ site.baseurl }}static/img/{{ site.avatar }}" alt="Responsive image">
		</div>
		<h3><strong>{{ site.author }}</strong>, Web Developer.</h3>
	</div>
</section>
<section id="professional-projects">
	<div class="container">
		<h3>Professional Projects</h3>
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>Able Engine <small><i>2017-present</i></small></h4>
				<hr>
				<h5>
					<i class="fa fa-drupal"></i>&nbsp;&nbsp;<strong><a target="_blank" href="http://alltech.com/">Alltech</a> - </strong>
					Alltech is a large multilingual Drupal 8 site. I maintain this site and provide new features and improvements.
					<ul>
						<li>Implementation of the batch api for duplicating content, blocks, taxonomies, and terms for new languages</li>
						<li>Custom module to provide a vast array of blocks for layout out content</li>
					</ul>
				</h5>
				<h5>
					<i class="fa fa-drupal"></i>&nbsp;&nbsp;<strong><a target="_blank" href="https://dealers.alltech.com/">Alltech Dealer Portal</a> - </strong>
					The Dealer Portal (Drupal 8) provides a way for "dealers" to order materials to help them sell products. I build this project from the ground up and implemented all features.
					<ul>
						<li>Customizable pdfs via Pdf field detection and custom pdf form generation for users to input text and images to be placed in the pdf</li>
						<li>Csv script for importing data that keeps track of users sales and points.</li>
					</ul>
				</h5>
				<h5>
					<i class="fa fa-drupal"></i>&nbsp;&nbsp;<strong>Informed Sites (has not launched) - </strong>
					This project is actually a collection of 5 websites built on Drupal 8 all leveraging one upstream. I was the sole developer of this project.
					<ul>
						<li>Integrations to layout builder to allow for flexibility and customization across all sites and provide a way to create "global layouts"</li>
						<li>Custom settings for generation of pdf files, and controlling sites appearance</li>
						<li>Csv manipulation, data merging, generation, and data importing for managing "batches"</li>
					</ul>
				</h5>
				<h5>
					<i class="fa fa-drupal"></i>&nbsp;&nbsp;<strong><a target="_blank" href="https://www.fnbky.com/">Farmers National Bank</a> - </strong>
					Farmers National Bank is a small bank website built on Drupal 8.
					<ul>
						<li>Custom module and theme for easy page building</li>
					</ul>
				</h5>
				<h5>
					<i class="fa fa-wordpress"></i>&nbsp;&nbsp;<strong>Casino Platform  - </strong>
					A custom wordpress theme and plugin used on a multitude of sites to provide one code base for updates and functionality.
					<ul>
						<li>Custom theme with multitude of theme options for customizing appearance</li>
						<li>Custom plugin providing ultra flexible Gutenberg blocks for building complex layouts</li>
					</ul>
				</h5>
				<h5>
					<i class="fa fa-wordpress"></i>&nbsp;&nbsp;<strong><a target="_blank" href="https://www.executrain.com/">ExecuTrain</a> - </strong>
					A wordpress site where users can browse a list of available courses and sign a person or group up to attend.
					<ul>
						<li>Customized Woocommerce integration</li>
						<li>React Based reporting and analytics</li>
					</ul>
				</h5>
			</div>
		</div>
	</div>
</section>

<section id="projects">
<div class="container">
  <h3>Personal Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
    <h5>
      <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a target="_blank" href="https://secret-taiga-87353.herokuapp.com/">Name-Spy</a> - </strong>
      A web application for non-profits to make automatic inquiries on a specially designated nationals list. Built with Laravel, Vue.js, and deployed on heroku.
    </h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a target="_blank" href="{{ site.baseurl }}Memory-Game">Memory Game</a> - </strong>
			A Memory Game built with AngularJS.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a target="_blank" href="{{ site.baseurl }}calculator">Calulator</a> - </strong>
			A basic calculator built with simple HTML CSS & JS.
		</h5>
<!--    	<h5>-->
<!--			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a target="_blank" href="{{site.baseurl}}wiki-viewer">Wiki-Viewer</a> - </strong>-->
<!--			Wiki-viewer is an experiment in utilizing an API.-->
<!--		</h5>-->
    </div>
  </div>
</div>
</section>
