 <section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a target="_blank" href="{{ site.baseurl }}Memory-Game">Memory Game</a></strong>
			A Memory Game built with AngularJS.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a target="_blank" href="{{ site.baseurl }}calculator">Calulator</a></strong>
			A basic calculator built with simple HTML CSS & JS.
		</h5>
    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a target="_blank" href="{{site.baseurl}}wiki-viewer">Wiki-Viewer</a></strong>
			Wiki-viewer is an experiment in utilizing an API.
		</h5>
    </div>
  </div>
</div>
</section>
